*{box-sizing: border-box}
.decouverte{
    text-align: center;
    margin-bottom: 15px;
}
.st-valentin{
    border: 1px solid black;
    padding: 10px;
}
.st-valentin h4{
    text-align: center;
}
.images{
    border: 1px solid red;
    min-height: 200px;
    margin: 15px;
    background: url('assets/img/banner/519.jpg') no-repeat;
    background-size: 100%;
}
.prix{
    text-align: center;
    font-weight: bold;
}
.old{
    text-decoration: line-through;
    color: grey;
}
.btn-nan{
    background-color: #a749ff;
    color: white;
}
.btn-nan:hover{
    background-color: #732cb6;
}